<%- include('../includes/begin.ejs') %>
                    <form action='/notes/post' method='post' enctype='multipart/form-data'>
                        <label for='textInputTitle' class='form-label'>title</label>
                        <input type='text' name='input-title' value='' id='textInputTitle' class='form-control'
                            autofocus>
                        <div class='form-check'>
                            <input type='checkbox' name='input-private' id='checkboxPrivate' class='form-check-input'>
                            <label for='checkboxPrivate' class='form-check-label'>private</label>
                        </div>
                        <label for='selectInputCategory' class='form-label'>category</label>
                        <select name='input-category' id='selectInputCategory' class='form-select'
                            aria-label='select a category'>
                            <option value='32'>Moving December, 2022</option>
                            <option value='25'>Do these things</option>
                            <option value='26'>Install Docker Compose Plugin</option>
                            <option value='27'>VPS Set Up</option>
                            <option value='28'>Job Search</option>
                            <option value='29'>I Want to Learn</option>
                            <option value='17'>..Bash, Terminal, Linux Environment</option>
                            <option value='30'>Scratchpad</option>
                            <option value='31'>Node.js</option>
                            <option value='33'>..Express</option>
                            <option value='23'>Projects</option>
                            <option value='24'>..Projects Focused</option>
                            <option value='21'>..Project Ideas</option>
                            <option value='34'>Git</option>
                            <option value='35'>empty category</option>
                            <option value='36'>Agenda</option>
                            <option value='37'>Waterloo Station</option>
                            <option value='39'>Links</option>
                            <option value='19'>Features</option>
                            <option value='2'>Mechanical</option>
                            <option value='1'>Fun</option>
                            <option value='22'>..Programming</option>
                            <option value='20'>....Things That Will Help for Work</option>
                            <option value='16'>....Docker</option>
                            <option value='15'>....VMware Fusion</option>
                            <option value='14'>....AWS Lightsail VPS</option>
                            <option value='13'>....Mac Setup</option>
                            <option value='3'>....Dev Notes and Helpful Reminders</option>
                            <option value='10'>......Config, Build, Etc. Recipes</option>
                            <option value='18'>..History</option>
                            <option value='12'>..Meals</option>
                            <option value='11'>..Skills</option>
                            <option value='38'>....delete this</option>
                        </select>
                        <label for='fileInputImage' class='form-label'>insert image</label>
                        <input type='file' name='input-image' id='fileInputImage' class='form-control'>
                        <label for='textareaInputBody' class='form-label'>body</label>
                        <textarea name='input-body' id='textareaInputBody' class='form-control'></textarea>
                        <input type='submit' value='go' class='btn btn-primary'>
                    </form>
<%- include('../includes/end.ejs') %>