<%- include("../inc/begin.ejs") %>
                    <form class="mb-3" action="/admin/add-category" method="POST">
                        <label for="text" class="form-label">text</label>
                        <input type="text" name="text" value="" id="text" class="form-control" autofocus>
                        <input type="submit" value="go" class="btn btn-primary">
                    </form>
<%- include("../inc/end.ejs") %>