<%- include("../inc/begin.ejs") %>
            <div class='row mt-5 mb-5'>
                <div class='col-12'>
                    <h2>Dashboard</h2>
                    <a class="btn btn-secondary" href="<%= BASE_DIR %>/admin/db" role="button" download>db.json</a>
                </div>
<%- include("../inc/end.ejs") %>
