<%- include('./inc/begin.ejs') %>
            <div class='row mt-5 mb-5'>
                <div class='col-12'>
                    <% if (viewName === 'note-detail') { %>
                    <p><a href="/notes/#<%= note.noteCategoryTextEncoded %>"><%= note.noteCategoryText %></a></p>
                    <% } %>
                    <h2 class="text-center">...Nothing <em>Here</em>...</h2>

<%- include('./inc/end.ejs') %>
